{:paths ["src"]
 :deps {
        io.netty/netty-transport {:mvn/version "4.1.65.Final"}
        io.netty/netty-transport-native-epoll {:mvn/version "4.1.65.Final"}
        io.netty/netty-codec {:mvn/version "4.1.65.Final"}
        io.netty/netty-codec-http {:mvn/version "4.1.65.Final"}
        io.netty/netty-handler {:mvn/version "4.1.65.Final"}
        io.netty/netty-handler-proxy {:mvn/version "4.1.65.Final"}
        io.netty/netty-resolver {:mvn/version "4.1.65.Final"}
        io.netty/netty-resolver-dns {:mvn/version "4.1.65.Final"}
        manifold/manifold {:mvn/version "0.1.9"}
        io.github.skynet-gh/byte-streams {:git/tag "0.2.10+fix-single-segment-ns"
                                          :git/sha "2c811a1"}
        org.clojure/tools.logging {:mvn/version "1.1.0"
                                   :exclusions [org.clojure/clojure]}
        potemkin/potemkin {:mvn/version "0.4.5"}}}
